<<<<<<< HEAD
h3 {color: pink;
    fontstyle: italic;}
#master1
=======

thead {color:green;}

<<<<<<< HEAD

#threebranch
>>>>>>> three
=======
tbody {color:blue; background-color:yellow;}

#fourbranch
>>>>>>> four
